[submodule "deps/hermes"]
	# Commit: v1.5.1
	path = deps/hermes
	url = https://github.com/informalsystems/ibc-rs.git
# TODO [LSM]: Revert to cosmos relayer once they've merged 
# the fix for the unbonding time query
[submodule "deps/relayer"]
	# Branch: sam/lsm-poc
	# Commit: 0136134766142f133f263f3bba72d7077e7bc2c1
	path = deps/relayer
	url = https://github.com/Stride-Labs/relayer.git
[submodule "deps/gaia"]
	# Commit: v12.0.0-rc0
	path = deps/gaia
	url = https://github.com/cosmos/gaia.git
[submodule "deps/juno"]
	# Commit: v14.1.0
	path = deps/juno
	url = https://github.com/CosmosContracts/juno.git
[submodule "deps/osmosis"]
	# Commit: v16.1.1-no-fees
	path = deps/osmosis
	url = https://github.com/Stride-Labs/osmosis.git
[submodule "deps/stargaze"]
	# Commit: v9.0.1
	path = deps/stargaze
	url = https://github.com/public-awesome/stargaze.git
[submodule "deps/evmos"]
	# Commit: ec337e0357ae6b6727ad9092ac0ce3667df91319
	path = deps/evmos
	url = https://github.com/evmos/evmos
# bats
[submodule "dockernet/tests/bats/bats-core"]
	path = dockernet/tests/bats/bats-core
	url = https://github.com/bats-core/bats-core.git
[submodule "dockernet/tests/bats/bats-assert"]
	path = dockernet/tests/bats/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "dockernet/tests/bats/bats-support"]
	path = dockernet/tests/bats/bats-support
	url = https://github.com/bats-core/bats-support.git
