# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

scripts/testnet/state/keys.txt
**state.json
**test.py
**test.sh
**test.py
# build
launch.sh
build/*
state/*
.state.backup
scripts/state/*
scripts/testnet/*/state/keys.txt
scripts/testnet/state/*
scripts/testnet/certs/**.pem

scripts/logs/*.log
scripts/logs/*/*.log
scripts-local/state
scripts-local/logs
scripts-local/test-utils/state/
scripts/temp.sh
scripts/testnet/*/state/keys.txt
scripts/tests/validator_selection
scripts/tests/local_tests.bats
scripts-local/upgrades/binaries
scripts-local/upgrades/cosmovisor
scripts/upgrades/binaries
scripts/upgrades/cosmovisor
vue/*
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


.DS_Store
.terraform
*.pem

.vscode
!.vscode/settings.json
