namespace: integration

images:
  chains: gcr.io/stride-nodes/integration-tests/chains
  relayer: gcr.io/stride-nodes/integration-tests/relayer:v2.5.2
  hermes: gcr.io/stride-nodes/integration-tests/hermes:v1.9.0

chains:
  - name: stride
    binary: strided
    version: latest
    numValidators: 3
    home: .stride
    denom: ustrd
    decimals: 6
    command: ["strided", "start", "--reject-config-defaults"]

  # - name: cosmoshub
  #   binary: gaiad
  #   version: v22.1.0
  #   numValidators: 1
  #   home: .gaia
  #   denom: uatom
  #   decimals: 6
  #   command: ["gaiad", "start"]

  # - name: osmosis
  #   binary: osmosisd
  #   version: v28.0.0
  #   numValidators: 1
  #   home: .osmosisd
  #   denom: uosmo
  #   decimals: 6
  #   command: ["osmosisd", "start"]

# type can be either "relayer" or "hermes"
relayers:
  - name: stride-osmosis-main
    type: relayer
    chainA: stride
    chainB: osmosis-main
  # - name: stride-osmosis
  #   type: relayer
  #   chainA: stride
  #   chainB: osmosis
