global:
  api-listen-addr: :5183
  timeout: 10s
  memo: ""
  light-cache-size: 20
chains:
  stride:
    type: cosmos
    value:
      key: stride
      chain-id: STRIDE
      rpc-addr: http://stride1:26657
      account-prefix: stride
      keyring-backend: test
      gas-adjustment: 1.3
      gas-prices: 0.02ustrd
      coin-type: 118
      debug: false
      timeout: 20s
      min-loop-duration: 50ms
      output-format: json
      sign-mode: direct
  gaia:
    type: cosmos
    value:
      key: gaia
      chain-id: GAIA
      rpc-addr: http://gaia1:26657
      account-prefix: cosmos
      keyring-backend: test
      gas-adjustment: 1.3
      gas-prices: 0.02uatom
      coin-type: 118
      debug: false
      timeout: 20s
      min-loop-duration: 50ms
      output-format: json
      sign-mode: direct
  dydx:
    type: cosmos
    value:
      key: dydx
      chain-id: DYDX
      rpc-addr: http://dydx1:26657
      account-prefix: dydx
      keyring-backend: test
      gas-adjustment: 1.3
      gas-prices: 0.02udydx
      coin-type: 118
      debug: false
      timeout: 20s
      min-loop-duration: 50ms
      output-format: json
      sign-mode: direct
  noble:
    type: cosmos
    value:
      key: noble
      chain-id: NOBLE
      rpc-addr: http://noble1:26657
      account-prefix: noble
      keyring-backend: test
      gas-adjustment: 1.3
      gas-prices: 0.00utoken
      coin-type: 118
      debug: false
      timeout: 20s
      min-loop-duration: 50ms
      output-format: json
      sign-mode: direct
  osmo:
    type: cosmos
    value:
      key: osmo
      chain-id: OSMO
      rpc-addr: http://osmo1:26657
      account-prefix: osmo
      keyring-backend: test
      gas-adjustment: 1.3
      gas-prices: 0.00uosmo
      coin-type: 118
      debug: false
      timeout: 20s
      min-loop-duration: 50ms
      output-format: json
      sign-mode: direct
paths:
  # Paths for accessory chains
  stride-osmo:
    src:
      chain-id: STRIDE
    dst:
      chain-id: OSMO
    src-channel-filter:
      rule: ""
      channel-list: []
  stride-noble:
    src:
      chain-id: STRIDE
    dst:
      chain-id: NOBLE
    src-channel-filter:
      rule: ""
      channel-list: []
  noble-osmo:
    src:
      chain-id: NOBLE
    dst:
      chain-id: OSMO
    src-channel-filter:
      rule: ""
      channel-list: []
  # Paths for host chain (if running GAIA)
  gaia-noble:
    src:
      chain-id: GAIA
    dst:
      chain-id: NOBLE
    src-channel-filter:
      rule: ""
      channel-list: []
  osmo-gaia:
    src:
      chain-id: OSMO
    dst:
      chain-id: GAIA
    src-channel-filter:
      rule: ""
      channel-list: []
  # Paths for host chain (if running DYDX)
  dydx-noble:
    src:
      chain-id: DYDX
    dst:
      chain-id: NOBLE
    src-channel-filter:
      rule: ""
      channel-list: []
  osmo-dydx:
    src:
      chain-id: OSMO
    dst:
      chain-id: DYDX
    src-channel-filter:
      rule: ""
      channel-list: []
