name: Build Testnet Images
on:
  workflow_dispatch:
    inputs:
      deployment_name:
        description: Testnet that you want to launch (e.g. poolparty)
        required: true
      stride_chain_id:
        description: Stride chain-id
        required: true
env:
  num_stride_nodes: 3

jobs:
  get-node-names:
    runs-on: ubuntu-latest
    steps:
      - id: set-output
        run: |
          node_names_array=""
          for (( i=1; i <= $num_stride_nodes; i++ )); do
            node_names_array+="\"stride-node${i}\","
          done
          echo "::set-output name=node-names::[${node_names_array}]"
    outputs:
      node-names: ${{ steps.set-output.outputs.node-names }}

  compile-stride:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Modify Stride code
        run: |
          sed -i -E "s|stride15cl9pauj7cqt4lhyrj4snq50gu9u67ese3tvpe|stride159atdlc3ksl50g0659w5tq42wwer334ajl7xnq|g" x/stakeibc/handler.go

      - name: Build Stride
        run: make build

      - name: Store Stride Executable
        uses: actions/upload-artifact@v3
        with:
          name: strided
          path: ./build/strided
          retention-days: 1

  compile-gaia:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Stride
        uses: actions/checkout@v3

      - name: Build Gaia
        run: |
          git clone https://github.com/Stride-Labs/gaia --branch v7.0.2-pin-ibc-cosmos-sdk
          cd gaia
          go build -mod=readonly -trimpath -o ../build ./...
      - name: Store Gaia Executable
        uses: actions/upload-artifact@v3
        with:
          name: gaiad
          path: ./build/gaiad
          retention-days: 1

  initialize-state:
    runs-on: ubuntu-latest
    needs: [compile-stride, compile-gaia]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Download Strided
        uses: actions/download-artifact@v3
        with:
          name: strided
          path: ./build

      - name: Download Gaiad
        uses: actions/download-artifact@v3
        with:
          name: gaiad
          path: ./build

      - name: Initialize State
        shell: bash
        run: |
          chmod +x -R ./build
          ./scripts/testnet/setup_testnet_state.sh \
            ${{ github.event.inputs.deployment_name }} \
            ${{ github.event.inputs.stride_chain_id }} \
            ${num_stride_nodes} \
            ${{ secrets.STRIDE_TESTNET_MNEMONIC }}

      - name: Forward Certs
        run: |
          echo "${{ secrets.CERT_KEY }}" >> scripts/testnet/state/certkey.pem
          echo "${{ secrets.CERT_FILE }}" >>  scripts/testnet/state/certfile.pem
        shell: bash

      - name: Persist State Files
        uses: actions/upload-artifact@v3
        with:
          name: state
          path: ./scripts/testnet/state
          retention-days: 1

  build-stride-images:
    needs: [get-node-names, initialize-state]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-name: ${{ fromJson(needs.get-node-names.outputs.node-names) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Restore State Files
        uses: actions/download-artifact@v3
        with:
          name: state
          path: ./state

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up gcloud Cloud SDK environment
        uses: google-github-actions/setup-gcloud@v0.6.0
        with:
          version: "389.0.0"
          service_account_key: ${{ secrets.GCP_KEY }}
          project_id: ${{ secrets.GCP_NODES_PROJECT }}
          export_default_credentials: true

      - name: GCloud Configure Docker
        run: |
          gcloud auth configure-docker
      - name: Build Stride Node Images
        uses: docker/build-push-action@v3
        with:
          context: .
          file: "scripts/testnet/dockerfiles/Dockerfile.stride"
          build-args: |
            node_name=${{ matrix.node-name }}
          push: true
          platforms: linux/amd64
          tags: |
            stridelabs/nodes-${{ github.event.inputs.deployment_name }}:${{ matrix.node-name }}
            gcr.io/stride-nodes/${{ github.event.inputs.deployment_name }}:${{ matrix.node-name }}
  build-dep-images:
    needs: [initialize-state]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dep-name:
          - gaia
          - hermes
          - icq
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Restore State Files
        uses: actions/download-artifact@v3
        with:
          name: state
          path: ./state

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up gcloud Cloud SDK environment
        uses: google-github-actions/setup-gcloud@v0.6.0
        with:
          version: "389.0.0"
          service_account_key: ${{ secrets.GCP_KEY }}
          project_id: ${{ secrets.GCP_NODES_PROJECT }}
          export_default_credentials: true

      - name: GCloud Configure Docker
        run: |
          gcloud auth configure-docker
      - name: Construct Image
        shell: bash
        run: |
          hub_tag=stridelabs/nodes-${{ github.event.inputs.deployment_name }}:${{ matrix.dep-name }}
          gcr_tag=gcr.io/stride-nodes/${{ github.event.inputs.deployment_name }}:${{ matrix.dep-name }}
          docker build -t $hub_tag -f scripts/testnet/dockerfiles/Dockerfile.${{ matrix.dep-name }} .
          docker push $hub_tag
          docker tag $hub_tag $gcr_tag
          docker push $gcr_tag

  upload-genesis:
    needs: [initialize-state]
    runs-on: ubuntu-latest
    steps:
      - name: Restore State Files
        uses: actions/download-artifact@v3
        with:
          name: state
          path: ./state

      - name: Upload Genesis to IPFS
        uses: web3-storage/add-to-web3@v2
        id: web3
        with:
          web3_token: ${{ secrets.IPFS_KEY }}
          path_to_add: "./state/stride-node1/config/genesis.json"
      - run: echo ${{ steps.web3.outputs.cid }}
      - run: echo ${{ steps.web3.outputs.url }}
