name: Version

on:
  workflow_dispatch:
    inputs:
      old_version:
        description: "Specify the old version (e.g. v8)"
      new_version:
        description: "Specify the new version (e.g. v9)"

permissions:
  contents: write
  pull-requests: write

jobs:
  version:
    runs-on: ubuntu-latest

    steps:
      - name: Get versions
        run: |
          old_version=${{ github.event.inputs.old_version }}
          new_version=${{ github.event.inputs.new_version }}
          branch_name=actions/update-stride-version-${new_version}

          echo "OLD_VERSION=$old_version" >> $GITHUB_ENV
          echo "NEW_VERSION=$new_version" >> $GITHUB_ENV
          echo "branch_name=$branch_name" >> $GITHUB_ENV

      - name: Checkout main
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
          ref: main

      - name: Set Git Config
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Create branch
        run: git checkout -b ${{ env.branch_name }}

      - name: Update versions in files
        run: ./scripts/version.sh

      - name: Push changes
        run: |
          git add -A
          git commit -m "Update version to ${{ env.NEW_VERSION }}"
          git push origin ${{ env.branch_name }}

      - name: Create Pull Request
        uses: actions/github-script@v7
        with:
          script: |
            const { data: pullRequest } = await github.rest.pulls.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: '${{ env.NEW_VERSION }} Import Paths',
              head: '${{ env.branch_name }}',
              base: 'main',
              body: `This is an automatically generated pull request.

            Please review and merge the changes.

            ## Context

            * Updates package name to \`github.com/Stride-Labs/stride/${{ env.NEW_VERSION }}\`
            * Re-generates protos`,
              maintainer_can_modify: true
            });
            console.log(`Created PR #${pullRequest.number}`);